.box {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid red;
  border-bottom: 20px solid transparent;
  width: 0;
  height: 0;
  position: absolute;
  right: 15px;
}

.chat {
  width: 100%;
  background: red;
  height: 30px;
  border-radius: 5px;
}

.chatbox {
  position: relative;
}
